ion-input{
    border: 2px solid #e7ebee;
    border-radius: 10px;
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
}
  
ion-button{
    --border-radius: 30px;
    --border-style: solid;
    --padding-start: 80px;
    --padding-bottom: 20px;
    --padding-top: 20px;
    --padding-end: 80px;
    --background: transparent;  
    --color: #00c851;
    --border-color: #00c851;
    --background-hover: #007e33;
    --background-activated: #007e33;
    --background-focused: #007e33;
    --color-hover: white;
    --color-activated: white;
    --color-focused: white;
}