#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-input{
  border: 2px solid #e7ebee;
  border-radius: 10px;
  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;
}

ion-button{
  --border-radius: 30px;
  --border-style: solid;
  --padding-start: 80px;
  --padding-bottom: 20px;
  --padding-top: 20px;
  --padding-end: 80px;
  --background: transparent;  
  --color: #00c851;
  --border-color: #00c851;
  --background-hover: #007e33;
  --background-activated: #007e33;
  --background-focused: #007e33;
  --color-hover: white;
  --color-activated: white;
  --color-focused: white;
}